<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Nyere indl&aelig;g</a>
    {{/if}}
    <span class="page-number">Side {{page}} ud af {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">&Aelig;ldre indl&aelig;g &rarr;</a>
    {{/if}}
</nav>
