.pagination {
  width: 100%;
  color: $text-color;
  text-align: center;

  @media (max-width: 500px) {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  a {
    color: $text-color;
  }
}
